# base 
Babel
Flask
Flask-Babel
Flask-FlatPages
Flask-Mail
Flask-Script
Flask-WTF
Jinja2
Markdown
PyYAML
Werkzeug
itsdangerous
requests
speaklater

# Cache and Celery
Flask-Cache
pylibmc
redis
celery

# SQLAlchemy
flask-restless
Flask-SQLAlchemy
flask-migrate

# auth
python_social_auth
Flask-Login
